<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>menu}}
    <h1>{{genre}}</h1>
    {{#movies.movie}}
        <form action = "/movies/delete=movie" method = "POST">
            <h3>Title: {{title}}</h3>
            <img src = "{{imgUrl}}">
            <input type = "hidden" name = "id" value = "{{id}}">
            <a href = "./movies.movies">
            <input type = "submit" value = "delete"/>
        </form>
        {{/movies.movies}}
</body>
</html>