<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    {{>menu}}
    <h1>Movie Details</h1>
    <div>
        <h2>Title</h2>
        <h4>{{title}}</h4>
        <img src = "{{imgUrl}}"/> 
        <h2>Genre</h2>
        <h4>{{genre}}</h4>
        <h2>Description</h2>
        <p>{{description}}</p>
</body>
</html>